<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true"> &times;</span>
      </button>
      <h4 class="modal-title">Список блюд</h4>
    </div>

    <div class="modal-body">
      <ul>
        <% @dishes.each do |dish| %>
          <li><%= "#{dish.name} (#{dish.price})" %></li>
        <% end %>
      </ul>
    </div>

    <div class="modal-footer">
      <button class="btn.btn-primary" aria-hidden="true" data-dismiss="modal">Закрыть</button>
    </div>
  </div>
</div>
