<tr>
  <td><%= order.user.login if order.user %></td>
  <td><%= link_to order.dishes.count, dishes_list_admin_order_path(order), remote: true %></td>
  <th><%= order.dishes.pluck(:price).sum %></th>
  <td><%= l(order.created_at, :format => :long )%></td>
</tr>
