<table class="table table-condensed table-striped">
  <thead>
    <tr>
      <th>Пользователь</th>
      <th>Кол-во товаров</th>
      <th>Стоимость</th>
      <th>Дата создания</th>
    </tr>
    <tbody id="orders-body">
      <%= render @orders %>
    </tbody>
  </thead>
</table>

<%= paginate @orders %>

<%= render partial: "partials/modal_form" %>
