<% content_for :body_class, "login" %>
<div id="sign-in-block">
  <h2>Вход в систему</h2>
  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <%= f.input :login, required: false, autofocus: true %>
    <%= f.input :password, required: false %>
    <%= f.input :remember_me, as: :boolean, inline_label: true, label: false if devise_mapping.rememberable? %>

    <%= f.button :submit, "Log in", class: "btn btn-primary" %>

    <%= render "devise/shared/links" %>
  <% end %>
</div>
