<table class="table table-condensed table-striped">
  <thead>
    <tr>
      <th>Наименование</th>
      <th>Категория</th>
      <th>Кол-во продаж</th>
      <th>Выручка</th>
    </tr>
    <tbody id="report-body">
      <% @dishes.each do |dish| %>
        <tr>
          <td><%= dish.name %></td>
          <td><%= dish.category_name %></td>
          <td><%= sold_count = dish.orders.count %></td>
          <td><%= dish.price*sold_count %></td>
        </tr>
      <% end %>
    </tbody>
  </thead>
</table>

<%= paginate @dishes %>
