<tr>
  <td><%= category.name %></td>
  <td><%= l(category.created_at, :format => :long )%></td>
  <th><%= category.full_name %></th>
  <td>
    <%= link_to edit_admin_category_path(category), remote: true do %><i class="glyphicon glyphicon-pencil"></i><% end %>
    <%= link_to admin_category_path(category), remote: true, data: {:confirm => 'Вы уверены?'}, :method => :delete do %><i class="glyphicon glyphicon-remove"></i><%end%>
  </td>
</tr>
