<div class="modal-dialog">
  <div class="modal-content">
    <%= simple_form_for [:admin, @category], remote: true, html: {class: 'form-horizontal', role: 'form'} do |f| %>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"> &times;</span>
        </button>
        <h4 class="modal-title">Управление категорией</h4>
      </div>

      <div class="modal-body">
        <div class="form-inputs">
          <%= f.input :name, label: "Наименование:" %>
          <%= f.association :parent, label: "Родительская категория", collection: category_options(f.object) %>
        </div>
      </div>

      <div class="modal-footer">
        <div class="form-actions">
          <%= f.button :submit, 'Сохранить', class: 'btn btn-primary' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
