<div class="create-new-record">
  <%= link_to new_admin_category_path, class: "btn btn-primary pull-right", remote: true do %>
    Создать Категорию
    <i class="glyphicon glyphicon-plus"></i>
  <% end %>
</div>

<table class="table table-condensed table-striped">
  <thead>
    <tr>
      <th>Наименование</th>
      <th>Дата создания</th>
      <th>Полное наименование</th>
      <th>Действия</th>
    </tr>
    <tbody id="categories-body">
      <%= render @categories %>
    </tbody>
  </thead>
</table>

<%= paginate @categories %>

<%= render partial: "partials/modal_form" %>
