/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
@import "bootstrap-sprockets";
@import "bootstrap";

#sign-in-block {
  display: block;
  width: 100%;

  h2 {
    margin-top: 10px;
    margin-bottom: 20px;
  }
}

.login .container {
  width: 500px;
  margin: 40px auto auto;

  .alert {
    width: 100%;
    max-width: none;
  }
  .new_user {
    font-size: 0;

    .btn {
      width: 100%;
      margin: auto;
      display: block;
    }
  }
  .control-group {
    margin-bottom: 10px;
  }
  .controls, .control-label {
    display: inline-block;
    font-size: 13px;
    vertical-align: top;
  }
  .controls {
      width: 82%;
  }
  .control-label {
    width: 18%;
    margin: 0;
    line-height: 31px;
  }
  .checkbox {
    width: 100%;
    margin-left: 11%;

    input[type="checkbox"] {
      position: relative;
      margin: auto;
    }
  }
}

#user_remember_me {
  padding: 0;
  margin-bottom: 3px;
  margin-right: 5px;
}

.user_remember_me .controls {
  margin-left: 40px;
}
.modal-dialog{
  margin: 30px auto;
  width: 750px;
}

/*@media screen and (min-width: 768px) {
  .modal-dialog {
    width: 750px;
  }
}
*/
