<div class="navbar navbar-default">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="glyphicon glyphicon-bar"></span>
      <span class="glyphicon glyphicon-bar"></span>
      <span class="glyphicon glyphicon-bar"></span>
    </button>
  </div>
  <div class="collapse navbar-collapse" id="bs-navbar-collapse-1">
    <p class="navbar-text navbar-right">
      <% if user_signed_in? %>
        <%= link_to destroy_user_session_path, :method => :delete do %>
          <i class="glyphicon glyphicon-user"></i> Выйти
        <% end %>
      <% else %>
        <%= link_to new_user_session_path do %>
          <i class="glyphicon glyphicon-user"></i> Войти
        <% end %>
      <% end %>
    </p>
  </div>
</div>
