<!DOCTYPE html>
<html>
<head>
  <title>GladsTest</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <%= render :partial => "layouts/navbar" %>
    <%= render :partial => "layouts/flash_messages" %>
    <div class="row">
      <div class="col-md-3 col-lg-3">
        <div class="well sidebar-nav">
          <ul id="main-left-bar" class="nav nav-list">
            <li class="nav-header">Основной раздел</li>
            <li><%= link_to t('menu.categories'), admin_categories_path %></li>
            <li><%= link_to t('menu.dishes'), admin_dishes_path %></li>
            <li><%= link_to t('menu.orders'), admin_orders_path %></li>
            <li><%= link_to t('menu.reports'), admin_reports_path %></li>
        </ul>
        </div><!--/.well -->
      </div>

      <div class="col-md-9 col-lg-9">
        <%= yield %>
      </div>
    </div>
  </div>

</body>
</html>

