<!DOCTYPE html>
<html>
<head>
  <title>GladsTest</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= yield(:body_class) %>">
  <div class="container">
    <%= render :partial => "layouts/flash_messages" %>
    <%= yield %>
  </div>
</body>
</html>

