<tr>
  <td><%= dish.name %></td>
  <td><%= dish.category.name if dish.category %></td>
  <td><%= dish.price %></td>
  <td>
    <%= link_to edit_admin_dish_path(dish), remote: true do %><i class="glyphicon glyphicon-pencil"></i><% end %>
    <%= link_to admin_dish_path(dish), remote: true, data: {:confirm => 'Вы уверены?'}, :method => :delete do %><i class="glyphicon glyphicon-remove"></i><%end%>
  </td>
</tr>
