<div class="modal-dialog">
  <div class="modal-content">
    <%= simple_form_for [:admin, @dish], remote: true, html: {class: 'form-horizontal', role: 'form'} do |f| %>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"> &times;</span>
        </button>
        <h4 class="modal-title">Управление блюдом</h4>
      </div>

      <div class="modal-body">
        <div class="form-inputs">
          <%= f.input :name, label: "Наименование:"  %>
          <%= f.input :price, label: "Стоимость:"  %>
          <%= f.association :category, label: "Категория:"  %>
        </div>
      </div>

      <div class="modal-footer">
        <div class="form-actions">
          <%= f.button :submit, 'Сохранить', class: 'btn btn-primary' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
