<div class="create-new-record">
  <%= link_to new_admin_dish_path, class: "btn btn-primary pull-right", remote: true do %>
    Создать блюдо
    <i class="glyphicon glyphicon-plus"></i>
  <% end %>
</div>

<table class="table table-condensed table-striped">
  <thead>
    <tr>
      <th><%= t("index.title")%></th>
      <th>Категория</th>
      <th>Стоимость</th>
      <th><%= t("index.actions")%></th>
    </tr>
    <tbody id="dishes-body">
      <%= render @dishes %>
    </tbody>
  </thead>
</table>

<%= paginate @dishes %>

<%= render partial: "partials/modal_form" %>
